/*   Front-end Style Guide
    
    font-family: "Young Serif", serif; 
    font-family: "Outfit", sans-serif;    

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Nutmeg: hsl(14, 45%, 36%)
- Dark Raspberry: hsl(332, 51%, 32%)

### Neutral

- White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Fonts

- Family: [Young Serif](https://fonts.google.com/specimen/Young+Serif)
- Weights: 400

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 600, 700*/

/* Desktop: 1440px */

* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  display: flex;
  justify-content: center;
}

p {
  line-height: 1.8rem;
}

.recipeWrapper {
  width: 50%;
  margin: 10% 0;
  padding: 30px;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeImage {
  width: 95%;
  height: auto;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.recipe {
  width: 95%;
  margin: 40px 0;
}

h1 {
  font-family: "Young Serif", serif;
  padding-bottom: 10px;
  color: hsl(24, 5%, 18%);
}

.subtitle {
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
  padding: 15px 0;
  margin-top: 30px;
}

li {
  margin-left: 20px;
}

li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

li span {
  position: relative;
  left: 25px;
  text-align: left;
}

/*  ---------------- PREPARATION SECTION ----------------  */

#preparation li::marker {
  color: hsl(332, 51%, 32%);
}

#preparation h3 {
  color: hsl(332, 51%, 32%);
}

#preparation {
  background: hsl(330, 100%, 98%);
  margin: 20px 0;
  padding: 20px 0 20px 30px;
  line-height: 1.7rem;
}

#preparation ul {
  padding-top: 8px;
}

#preparation b {
  padding-left: 20px;
}

/*  ---------------- INGRIDIENTS SECTION ----------------  */

#ingredients li {
  padding-bottom: 15px;
}

/*  ---------------- INSTRUCTIONS SECTION ----------------  */

#instructions ol li {
  padding-top: 10px;
}

/*  ---------------- NUTRITIONAL SECTION ----------------  */
.nutritional {
  border-collapse: collapse;
  margin-top: 20px;
}

.nutritional tbody tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutritional td {
  padding: 13px 0;
}

.values {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

/* -------------- ATTRIBUTION -------------- */

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* -------------- MOBILE -------------- */

@media only screen and (max-width: 375px) {
  * {
    background: none;
  }

  .recipeWrapper {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .recipeImage {
    width:100%;
    position: absolute;
    border-radius: 0;
    top: -10px;
  }

  h1 {
    padding-top: 120px;
  }
}
